* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #aaa;
}

span {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 15px 20px;
    background: green;
    border: 1px solid black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
}

#front {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    background-color: crimson;
    transition: all 1s linear;
    z-index: 2;
}

span:hover~div#front {
    width: 50vh;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translateX(-50%); 
}

#roof {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    background-color: black;
    transition: all 1s linear .2s;
    z-index: 1;
}

span:hover~div#roof {
    width: calc(50vh / 1.41);
    height: calc(50vh / 1.41);
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(45deg); 
}

#doors {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    background-color: blue;
    transition: all 1s linear .4s;
    z-index: 3;
}

span:hover~div#doors {
    width: 10vh;
    height: 15vh;
    top: calc(50% + 15vh);
    left: 50%;
    transform-origin: 50% 50%;
    transform: translateX(-50%); 
}

#chimney {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    background-color: blue;
    transition: all 1s linear .6s;
    z-index: -1;
}

span:hover~div#chimney {
    width: 10vh;
    height: 15vh;
    top: calc(50% - 20vh);
    left: calc(50% + 12vh);
    transform-origin: 50% 50%;
    transform: translateX(-50%); 
}

#windowLeft, #windowRight {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    background-color: yellow;
    transition: all 1s linear 1.6s;
    z-index: 4;
}

span:hover~div#windowLeft {
    width: 10vh;
    height: 10vh;
    top: calc(50% + 5vh);
    left: calc(50% - 15vh);
    transform-origin: 50% 50%;
    transform: translateX(-50%); 
}

span:hover~div#windowRight {
    width: 10vh;
    height: 10vh;
    top: calc(50% + 5vh);
    left: calc(50% + 15vh);
    transform-origin: 50% 50%;
    transform: translateX(-50%); 
}
